  <% if @range == "User" %>
    <h2>Users search for "<%= @word %>"</h2>
    <% unless @users.present? %>
    <p>検索条件と十分に一致する結果が見つかりませんでした。</p>
    <% else %>
      <%= render 'users/index',users: @users %>
    <% end %>
  <% else %>
     <h2>Books search for "<%= @word %>"</h2>
    <% unless @books.present? %>
      <p>検索条件と十分に一致する結果が見つかりませんでした。</p>
    <% else %>
   <%= render 'books/index',books: @books %>
    <% end %>
  <% end %>
